/* general formatting in App */

/* general formatting - background of App */
body {
  background: lightblue;
}

/* heading 1 */
h1 {
  color: darkblue;
  font-family: Arial, Helvetica, sans-serif; 
  font-size: 30pt; 
  font-weight: bold;
  text-align: left;
}
/* span */
span {
  color: darkblue;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align: left;
}
/* divisions with standardDiv class */
.standardDiv {
  border-top: 2px solid darkblue;
  border-bottom: 2px solid darkblue;
  padding: 10px 10px 10px 10px;
  margin-bottom: 2%;
  font-family: Arial, Helvetica, sans-serif;
  color: darkblue;
  background:lightskyblue ;
}

